
    .card{
        border-right: 1px solid #ddd; /* Bottom border */
    }

    .menu-border {
        border-width: 2px; /* You can adjust the value to make the border thicker */
        border-style: solid; /* Specifies the style of the border */
       background-color:#E0CCBE ;
        border-color: #747264; /* Specifies the color of the border */
    }
    
 